@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');



*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


body{
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("https://img.freepik.com/free-vector/realistic-style-technology-particle-background_23-2148426704.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1720569600&semt=ais_user");
  background-size: 100% 100%;
}